<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AffineTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ConvertGyro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ExtractFeatureTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ExtractFrame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FrameMatchTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Mask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MatchTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OmnidirectionalImage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PerspectiveProjection.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PlayVideo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RangeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>RotateFrame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>RotateVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>VideoMatchTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WriteVideo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>020D72FB1D2A4ADA00BC61BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02206DE01C356B0400733203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0225C9391D00071B00356EA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022AE8071D64A10600900F28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022AE8161D656CD100900F28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0245CD5E1C3F848B00FF5E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0245CD6D1C3F866D00FF5E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0245CD7C1C41382500FF5E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0245CD9A1C43DF3700FF5E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02513FA21D36648900089959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02648EAA1CF8058A00E4E948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026516A71D2F7FF4004C7838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026B3EA51CA1A460008B59CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>026B3EB11CA1ABF4008B59CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027F386D1D5ADC050012DA39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027F387E1D5B0EDB0012DA39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0282E5C51D2B85A30014F4DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028D79F61C30130B00790A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028D7A041C301B9700790A10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02963FE01D2B9B700041F000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>029994111C72A9CB00792144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
